@use './../Abstracts/colors' as *;
@use './../Abstracts/mixins' as *;

.reviews {
    position: relative;
    background-color: $black;
    padding-block: 10rem;

    @include respondTo(desktop) {
        padding-block: 20rem;
    }

    .oculus-set {
        position: absolute;
        width: 100%;
        z-index: 2000;
        @include flex(row, flex-end, flex-start);
        margin-top: 10rem;
        margin-left: -10rem;

        img {
            max-width: 20rem;
            height: auto;

            @include respondTo(desktop) {
                max-width: 30rem;
                height: auto;
            }
        }
    }

    .reviews-content {
        @include flex(row, center, center);
        position: relative;
        z-index: 2000;
        padding-inline: 3rem;

        .reviews-windows {
            @include flex(row, flex-start, center);
            column-gap: 3rem;
            row-gap: 3rem;
            flex-wrap: wrap;

            .review-box {
                background-color: $background-color;
                clip-path: polygon(84% 0, 100% 17%, 100% 100%, 0 100%, 0 0);
                transform: scale(1);
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                .review-box-content {
                    @include flex(column, center, flex-start);
                    padding-inline: 3rem;
                    padding-block: 4rem;
                    padding-bottom: 6rem;
                    row-gap: 2rem;

                    p {
                        width: 13rem;
                        color: $neutral-color;
                        font-weight: 600;
                    }
                }

                .corner-lane {
                    width: 200px;
                    height: 10px;
                    background-color: $white;
                    transform: translateX(-2rem) rotate(45deg);
                }
            }
        }
    }
}
