@use './../Abstracts/colors' as *;
@use './../Abstracts/mixins' as *;

header {
    position: fixed;
    width: 20rem;
    height: 100%;
    left: -20rem;
    opacity: 0;
    background-color: #1B1B1B;
    z-index: 5000;
    user-select: none;
    transition: all 0.2s ease-in-out;

    @include respondTo(tablet) {
        width: 100%;
        height: 8rem;
        left: 0;
        opacity: 1;
    }
}

.header-scrolled {
    background-color: rgba($color: #1B1B1B, $alpha: 0.6);
}

.header-showing {
    left: 0;
    opacity: 1;
}

img[alt="ham-button"] {
    display: initial;
    position: fixed;
    width: 3rem;
    height: 3rem;
    left: 2rem;
    top: 1rem;
    cursor: pointer;
    z-index: 5000;

    @include respondTo(tablet) {
        display: none;
    }
}

img[alt="hide-header"] {
    display: initial;
    position: relative;
    width: 2rem;
    height: 2rem;
    left: 17rem;
    top: 1.5rem;
    cursor: pointer;

    @include respondTo(tablet) {
        display: none;
    }
}

.header-content {
    @include flex(column, flex-start, flex-start);
    padding-inline: 3rem;
    padding-top: 2rem;

    @include respondTo(tablet) {
        max-width: 100rem;
        margin-inline: auto;
        @include flex(row, flex-start, center);
        padding-inline: 3rem;
        padding-top: 0;
        padding-block: 2rem;
    }

    .logo-content {
        @include flex(row, flex-start, center);
        column-gap: 1rem;
        cursor: pointer;

        img {
            width: 3rem;
            height: 3rem;
        }

        p {
            color: $white;
            font-family: 'Inria Sans', sans-serif;
            font-weight: 700;
            font-size: 1.6rem;
        }
    }

    .nav-links {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        row-gap: 1rem;
        padding-top: 4rem;

        @include respondTo(tablet) {
            @include flex(row, center, center);
            padding-top: 0;
            padding-inline: 2rem;
            column-gap: 1rem;
        }

        @include respondTo(desktop) {
            column-gap: 5rem;
        }

        p {
            color: $white;
            width: 100%;
            font-weight: 700;
            font-size: 1.5rem;
            padding-block: 1rem;
            border-bottom: 1px solid $neutral-color;
            cursor: pointer;
            transition: 0.2s all ease-in-out;

            @include respondTo(tablet) {
                border-bottom: none;
                text-align: center;
                width: fit-content;
                padding-inline: 1rem;
            }

            @include respondTo(desktop) {
                padding-inline: 2rem;
            }

            &:hover {
                color: rgba($color: $white, $alpha: 0.6);
            }

            &:active {
                color: $white;
                background-color: #3A3A3A;
            }
        }
    }

    .user-links {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        row-gap: 1.5rem;
        padding-top: 6rem;

        @include respondTo(tablet) {
            @include flex(row, center, center);
            padding-top: 0;
            max-width: 15rem;
            column-gap: 1rem;
        }

        div {
            @include flex(row, flex-start, center);
            column-gap: 2rem;
            cursor: pointer;

            @include respondTo(tablet) {
                @include flex(row, center, center);
                width: 3rem;
                height: 3rem;
                border-radius: 50%;

                &:active {
                    background-color: #3A3A3A;
                }
            }

            img {
                width: 2rem;
                height: 2rem;
            }

            p {
                color: $white;
                display: initial;

                @include respondTo(tablet) {
                    display: none;
                }
            }
        }
    }
}