@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Inria Sans", sans-serif;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Inria Sans", sans-serif;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1rem;
  font-family: "Roboto";
}
@media (min-width: 1024px) {
  p {
    font-size: 1.1rem;
  }
}

header {
  position: fixed;
  width: 20rem;
  height: 100%;
  left: -20rem;
  opacity: 0;
  background-color: #1B1B1B;
  z-index: 5000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 767px) {
  header {
    width: 100%;
    height: 8rem;
    left: 0;
    opacity: 1;
  }
}

.header-scrolled {
  background-color: rgba(27, 27, 27, 0.6);
}

.header-showing {
  left: 0;
  opacity: 1;
}

img[alt=ham-button] {
  display: initial;
  position: fixed;
  width: 3rem;
  height: 3rem;
  left: 2rem;
  top: 1rem;
  cursor: pointer;
  z-index: 5000;
}
@media (min-width: 767px) {
  img[alt=ham-button] {
    display: none;
  }
}

img[alt=hide-header] {
  display: initial;
  position: relative;
  width: 2rem;
  height: 2rem;
  left: 17rem;
  top: 1.5rem;
  cursor: pointer;
}
@media (min-width: 767px) {
  img[alt=hide-header] {
    display: none;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline: 3rem;
  padding-top: 2rem;
}
@media (min-width: 767px) {
  .header-content {
    max-width: 100rem;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 3rem;
    padding-top: 0;
    padding-block: 2rem;
  }
}
.header-content .logo-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  cursor: pointer;
}
.header-content .logo-content img {
  width: 3rem;
  height: 3rem;
}
.header-content .logo-content p {
  color: #FFFFFF;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.header-content .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 1rem;
  padding-top: 4rem;
}
@media (min-width: 767px) {
  .header-content .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-inline: 2rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .header-content .nav-links {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.header-content .nav-links p {
  color: #FFFFFF;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  padding-block: 1rem;
  border-bottom: 1px solid #797979;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
@media (min-width: 767px) {
  .header-content .nav-links p {
    border-bottom: none;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 1rem;
  }
}
@media (min-width: 1024px) {
  .header-content .nav-links p {
    padding-inline: 2rem;
  }
}
.header-content .nav-links p:hover {
  color: rgba(255, 255, 255, 0.6);
}
.header-content .nav-links p:active {
  color: #FFFFFF;
  background-color: #3A3A3A;
}
.header-content .user-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 1.5rem;
  padding-top: 6rem;
}
@media (min-width: 767px) {
  .header-content .user-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    max-width: 15rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.header-content .user-links div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  cursor: pointer;
}
@media (min-width: 767px) {
  .header-content .user-links div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .header-content .user-links div:active {
    background-color: #3A3A3A;
  }
}
.header-content .user-links div img {
  width: 2rem;
  height: 2rem;
}
.header-content .user-links div p {
  color: #FFFFFF;
  display: initial;
}
@media (min-width: 767px) {
  .header-content .user-links div p {
    display: none;
  }
}

.landing {
  position: relative;
  padding-bottom: 15rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1024px) {
  .landing {
    padding-bottom: 20rem;
  }
}

.sphere-content {
  position: absolute;
  width: 20rem;
  height: 20rem;
  margin-inline: auto;
  top: 20rem;
  border-radius: 50%;
  z-index: 2000;
  background: linear-gradient(180deg, rgba(152, 213, 248, 0.6) 0%, rgba(58, 120, 155, 0.03) 100%);
  filter: blur(32.5px);
}
@media (min-width: 1024px) {
  .sphere-content {
    width: 35rem;
    height: 35rem;
    top: 30rem;
  }
}

.glasses-front-view {
  position: relative;
  top: 13rem;
  z-index: 3000;
}
@media (min-width: 1024px) {
  .glasses-front-view {
    top: 17rem;
  }
}
.glasses-front-view img {
  width: 100%;
  height: 10rem;
}
@media (min-width: 1024px) {
  .glasses-front-view img {
    height: 20rem;
  }
}

.corner-lines {
  position: relative;
  width: 100%;
  top: 25rem;
  padding-inline: 2rem;
  z-index: 3000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1024px) {
  .corner-lines {
    padding-inline: 6rem;
  }
}
.corner-lines img {
  width: 8rem;
  height: 8rem;
}
@media (min-width: 1024px) {
  .corner-lines img {
    width: 14rem;
    height: 14rem;
  }
}

img[alt=corner-lines-right] {
  margin-left: auto;
}

.landing-content {
  position: relative;
  z-index: 3500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.landing-content h1, .landing-content p {
  color: #FFFFFF;
}
.landing-content h1 {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .landing-content h1 {
    margin-top: -3rem;
  }
}
.landing-content p {
  width: 15rem;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .landing-content p {
    width: 25rem;
  }
}
.landing-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120.55deg, #8162D8 27.36%, rgba(152, 197, 211, 0.4) 107.95%);
  border: none;
  cursor: pointer;
  padding-inline: 3rem;
  padding-block: 1rem;
  margin-top: 3rem;
  transition: all 0.2s ease-in-out;
}
.landing-content button:active {
  background: #FFFFFF;
}
.landing-content button:active p {
  color: #000000;
}
@media (min-width: 1024px) {
  .landing-content button {
    padding-inline: 5rem;
    padding-block: 1.5rem;
  }
}
.landing-content button p {
  width: initial;
  text-align: center;
  margin-left: 1rem;
  font-weight: 300;
}
.landing-content button img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.landing-content img[alt=down-arrow] {
  position: absolute;
  top: 20rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.landing-content img[alt=down-arrow]:hover {
  width: 4rem;
  height: 4rem;
}
@media (min-width: 1024px) {
  .landing-content img[alt=down-arrow]:hover {
    width: 5rem;
    height: 5rem;
  }
}
.landing-content img[alt=down-arrow]:active {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .landing-content img[alt=down-arrow] {
    width: 4rem;
    height: 4rem;
    top: 16rem;
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block: 8rem;
  padding-inline: 3rem;
  row-gap: 5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .about-content {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
@media (min-width: 1450px) {
  .about-content {
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }
}
.about-content .about-left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 4px solid #FFFFFF;
}
.about-content .about-left h2 {
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  .about-content .about-left h2 {
    max-width: 25rem;
  }
}
.about-content .about-left p {
  color: #797979;
  max-width: 25rem;
  line-height: 1.7rem;
}
@media (min-width: 1024px) {
  .about-content .about-right {
    max-width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.about-content .about-right img {
  width: 26rem;
  height: 18rem;
}
@media (min-width: 1024px) {
  .about-content .about-right img {
    width: 30rem;
    height: 22rem;
  }
}
@media (min-width: 1450px) {
  .about-content .about-right img {
    width: 36rem;
    height: 26rem;
  }
}

.features {
  width: 100%;
}

.features-content {
  width: 100%;
  max-width: 100rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 10rem;
  padding-inline: 3rem;
}
.features-content .features-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #2D2D2D;
  overflow-x: scroll;
}
.features-content .features-nav::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  .features-content .features-nav {
    overflow-x: initial;
  }
}
.features-content .features-nav .feature-tab {
  padding-right: 2rem;
  padding-block: 1rem;
  margin-left: 3rem;
  color: #797979;
  border-bottom: 10px solid transparent;
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 700;
  cursor: pointer;
}
.features-content .feature-tab:first-child {
  margin-left: 0;
}
.features-content .feature-section {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 6rem;
  border-bottom: 1px solid #2D2D2D;
}
@media (min-width: 1024px) {
  .features-content .feature-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.features-content .feature-section .feature-image {
  margin-inline: -3rem;
}
@media (min-width: 1024px) {
  .features-content .feature-section .feature-image {
    margin-inline: 0;
  }
}
.features-content .feature-section .feature-image img {
  width: 100%;
  min-width: 20rem;
  height: auto;
}
.features-content .feature-section p {
  width: 26rem;
  color: #797979;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  padding-left: 6rem;
  padding-bottom: 6rem;
}
.features-content .feature-section .feature-text-mobile {
  display: initial;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .features-content .feature-section .feature-text-mobile {
    display: none;
  }
}
.features-content .feature-section .feature-text-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .features-content .feature-section .feature-text-desktop {
    display: initial;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  width: 100%;
  background-color: #0F0E0E;
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */